header {

	display:flex;
}

body {
    display: flex;
    background-color: rgb(48, 129, 228);
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    margin: 0;
}
h1{
    color: white;
}
select{
    display: flex;
	flex-direction: row ;
    text-align: center;
    align-items: center;   
}

.resultat{
    color: white;
}
.bloc {
    display: flex;
    align-items: center;
}

